# Virtual Environment
venv/

# Python cache
__pycache__/
*.py[cod]

# Environment files
.env

# Jupyter
.ipynb_checkpoints/

# Runtime data and local MLflow registry
uploads/*
mlruns/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
models/random_forest_model.pkl